body    {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#box {
    background-color: rgba(188, 188, 188, 0.805);
    background-size: contain;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#username {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-image: url(icons/person_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg);
    background-position: 10px 7px; 
    background-repeat: no-repeat;
    padding-left: 39px;
    
}

#password {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-image: url(icons/lock_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg);
    background-position: 10px 7px; 
    background-repeat: no-repeat;
    padding-left: 39px;
}

#forgot {
    margin-left: 45px;
}

#buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
}

.buttonBorder {
    border-radius: 10px;
    overflow: hidden;
    border: none;
    height: 47px;
    width: 47px;
    display: flex;    
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#facebook {
    height: 38px;
    width: 38px;
}

#google {
    height: 35px;
    width: 35px;
}

#apple {
    height: 45px;
    width: 45px;
}

#submit {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}

#teksti {
    text-align: top;
    display: flex;
    margin-top: 1px;
    margin-bottom: 50px;
    width: 300px;
    text-align: center;
}

#sign {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
    font-size: 14px;
}

#profiilikuva {
    border: solid 4px;
    border-radius: 60px;
    height: 90px;
    width: 90px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#checkbox {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 400px) {
    #box {
      width: 90%;
      padding: 20px;
    }
  
    #username, #password, #submit {
      width: 100%;
    }
  }